{
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 4,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "useTabs": true,
  "printWidth": 120
}